.compat-ng {
  /*border: 3px solid purple;*/
}

.compat-ng .compat-table {
  width:100%;
}
.compat-ng .compat-table td {
  vertical-align: top;
  padding:1%;
  /* padding:1%; */
}
.compat-ng .compat-table dl {
  /*background-color: yellow;*/
  margin:0;
  overflow: hidden;
}
.compat-ng .compat-table dt,
.compat-ng .compat-table dd {
  font-size: 0.9em;
  margin:0;
  padding:0;
  float:left;
}
.compat-ng .compat-table dt {
  /*background-color:pink;*/
  margin-right: 3%;
  clear:left;
}
.compat-ng .compat-table dd {
  /*background-color:purple;*/
  width: 50%;
  font-weight:normal !important;
  overflow: hidden;
}

.compat-ng .compat-shaded {
  opacity: 0.5;
}